body {
    margin: 0;
}

.body {
    display: flex;
}

/* #footer21 {
    text-align: center;
    font: normal normal normal 12px/24px Avenir;
    letter-spacing: 0.12px;
    color: #FFFFFF;
    opacity: 1;
} */