.side-nav {
    top: -1.5px;
    left: 0px;
    width: 57px;
    height: 100vh;
    background: #5861AE 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.nav-btn {
    width: 57px;
    height: 47px;
    text-align: center;
    padding: 2px;
    margin-bottom: 5px;
}

.selected {
    background-color: white;
    text-align: center;
}

.side-nav-img {
    padding-top: 15px;
}