#inevitable {
    width: 100%;
    height: 40px;
    background-color: rgb(61, 61, 62);
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}